//SECTION Typo

html {
    font-size: 100%;
}

:root {
    --color-primary-h: 220;
    --color-primary-s: 60%;
    --color-primary-l: 50%;
    --color-base: #000;
    --color-destructive: #d33;
    --border-radius-small: 2px;
    --spacing-unit: 1rem;
    --padding-page: 20px;
}

//SECTION Utility
.margin-top {
    margin-top: var(--spacing-unit);
}

.padding-standard {
    padding: var(--padding-page);
}


//SECTION Buttons
.button {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    background: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
    border-radius: var(--border-radius-small);
    color: var(--color-base);
    transition: background 200ms ease;
}

.button:hover {
    background-color: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l - 10%));
}



//SECTION Heading
.section-heading {
    cursor: pointer;
    user-select: none;
}





//SECTION Responsive 

@media (max-width: 720px) {
    .sitestats-item:not(#sitestats-articles) {
        display: none;
    }
}

@media (min-width: 720px) {

    .mw-body,
    .parsoid-body {
        overflow-x: auto;
    }
}









//SECTION Error-Handling


.oo-ui-icon-error {
    background-image: url(/load.php?modules=oojs-ui-core.icons&image=error&variant=error&format=rasterized&skin=citizen&version=1ihw5);
}

.oo-ui-icon-info {
    background-image: url(/load.php?modules=oojs-ui-core.icons&image=info&format=rasterized&skin=citizen&version=1ihw5);
}



/* Last Modified Bar */
.last-modified-bar {
    background: #1a252d;
}

.last-modified-bar-content {
    display: flex;
    max-width: 1290px;
    align-items: center;
    padding: 12px var(--padding-page);
    margin: 0 auto;
}



/* Media Queries for Specific Breakpoints */
@media screen and (hover: hover) {
    .mw-header-button:hover {
        background-color: var(--background-color-quiet--hover);
    }
}

@media print {

    .mw-header,
    .mw-footer {
        display: none;
    }

    a {
        color: #000;
    }
}





.card {
    border: 1px solid var(--border-color-base--lighter);
    border-radius: var(--border-radius-small);
    padding: var(--padding-page);
    background-color: var(--background-color-framed);
}






//SECTION  Footer Styles
.mw-footer {
    background: #131a21;
    color: #979c9f;
    font-size: 14px;
    line-height: 1.4;
}

.mw-footer a {
    color: #cfdee8;
}

.mw-footer a:hover {
    color: #eaecf0;
}